# Ignore the 'data' directory
data/

# Ignore the 'data.pickle' file
data.pickle

# Ignore the 'data.txt' file
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments folder & files
venv/
env/
*.env
.Python
